@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$candy-app-theme: mat-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.mat-card {
  border-radius: 8px;
  margin-bottom: 30px;

  .mat-card-header .mat-card-title {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #5b626b;
  }
}

.mat-label {
  background-color: var(--text);
  color: var(--text);
}

mat-label {
  color: var(--text);
}

.mat-option {
  background-color: var(--section);
  color: var(--text);
}

.mat-menu-panel {
  background-color: var(--section);
  color: var(--text);
}

.mat-form-field {
  color: var(--text);
}

.mat-raised-button {
  background-color: var(--button);
  color: var(--text);
}

.mat-select-value {
  color: var(--text);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: var(--bg);
}

.mat-option:hover:not(.mat-option-disabled){
  background: var(--bg) !important;
}

.mat-menu-item:hover{
  background-color:var(--bg) !important;
}

// .mat-menu-item:hover{
//   background-color:grey;
//   color: purple;
// }
// .mat-menu-item:hover .mat-icon{
//   color: purple;
// }

.mat-dialog-container {
  text-align: center;
  border-radius: 10px;
  background-color: var(--dialog);

  mat-dialog-content {
    margin-bottom: 20px;
  }
}

.mat-dialog-actions {
  justify-content: center;
}

.mat-badge-content {
  background-color: var(--purple);
}

.snackBar-success-style {
  background-color:var(--section) !important;
  color:var(--text);;
}

.snackBar-warning-style {
  background-color:var(--section) !important;
  color:peru;
}

.snackBar-fail-style {
  background-color:var(--section) !important;
  color:red;
}

.mat-slide-toggle-thumb {
  width: 18px !important;
  height: 18px !important;
  transform: translate(0%, 0%);
  background-image: url(../icons/night.png) !important;

background-origin: content-box;
background-size: contain;
background-position: center center;
}

// .mat-accent .mat-slide-toggle-thumb{
//   filter: grayscale(100%);
// }

.mat-checked .mat-slide-toggle-thumb{
//filter: grayscale(0);
background-image: url(../icons/sunny.png) !important;
}


.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--tag-3-text);
}

.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
  background-color: var(--section);
}