<div class="center">
  <article>
    <div style="display: flex; justify-content: space-between">
      <img src="assets/img/brand-logo-color.png" alt="branding image"/>
      <span style="font-size: small;">Ver: {{electronService.appSettings?.version || 'DEBUG'}}</span>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: flex-start;">
      <br/>
      <span style="align-self: flex-start;">Website: <span style="font-size: small;">www.projscope.com</span></span>
      <span style="align-self: flex-start;">Support: <span style="font-size: small;">support@projscope.com</span></span>
    </div>
    <div style="width: 400px; display: flex;">
      <div>License:</div>
      <div style="font-size: small; text-align: left;">
        This program is free software; you can redistribute it.
        This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
      </div>
    </div>
    <div style="margin-top: 20px;">
      <button mat-raised-button (click)="cancel()">OK</button>
    </div>
  </article>
</div>
