<div class="center" style="width: 600px">
  <div style="padding-bottom: 20px">
    <h1>
      <div>
        <span>Task Details</span>
        <span *ngIf="taskId !== 0"> - #{{taskId}}</span>
      </div>
    </h1>

  </div>
  <input [(ngModel)]="caption" class="input" type="text" placeholder="Caption" style="margin-bottom: 5px"/>

  <form style="display: flex; justify-content: space-between">
    <mat-form-field appearance="legacy" style="width: 48%">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="selectedPriority" name="priority">
        <mat-option *ngFor="let priority of utilsService.priorities" [value]="priority"
                    [ngStyle]="{'border-color': this.utilsService.getColorByPriority(priority.viewValue)}"
                    class="task-priority">
          {{ priority.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" style="width: 48%">
      <mat-label>Section</mat-label>
      <mat-select [(ngModel)]="selectedSection" name="section">
        <mat-option *ngFor="let section of utilsService.sections" [value]="section">
          {{ section.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <quill-editor id="editor" [styles]="editorStyle" [modules]="quillConfiguration" [(ngModel)]="editorText"
                (onContentChanged)="onContentChanged($event)" required></quill-editor>

  <div style="margin-top: 20px">
    <button mat-raised-button (click)="updateTask()" style="margin-right: 10px" [disabled]="caption === ''">
      Update
    </button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</div>
