.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section {
  max-width: 250px;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px #d3d3d3;
  padding: 2px;
  overflow: hidden;
  display: block;
  background-color: var(--section);
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.textarea {
  min-height: 40em;
}

.example-form {
  min-width: 670px;
  // width: 100%;
}

.example-full-width {
  width: 100%;
}

.section {
  min-height: 400px;
  max-width: 250px;
  min-width: 250px;
  word-break: break-all;
}

.section-title {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.menu {
  display: flex;
  align-items: flex-start;
}

.priority {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
}

.example-form {
  max-width: 500px;
}

.example-full-width {
  width: 100%;
}

.project-column {
  word-wrap: break-word;
}

.fas.fa-pen {
  font-size: small;
}

.fas.fa-save {
  font-size: small;
}

.fas.fa-pen:hover {
  color: var(--tag-3-text);
}

.fas.fa-save:hover {
  color: var(--tag-3-text);
}

.project-title {
  display: none;
}
.project-title:hover {
  .fas.fa-pen {
    display: flex;
  }
}
