<section class="centerall" tabindex="-1">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <figure style="display: flex; justify-content: space-between;">
          <a routerLink="." class="btn" (click)="newProject()" tabindex="-1">
            <i class="fa fa-file"></i>
          </a>
          <a routerLink="." class="btn" (click)="loadProject()" tabindex="-1">
            <i class="fa fa-folder-open"></i>
          </a>
          <a routerLink="." class="btn" tabindex="-1">
            <i class="fa fa-power-off" (click)="exitProject()"></i>
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
